= content_for :sidebar do
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Sidebar
        %li= link_to "Link1", "/path1"
        %li= link_to "Link2", "/path2"
        %li= link_to "Link3", "/path3"
    / /.well
  / /span
