<div class="page-header">
  <h1><%= truncate( @question.text ) %></h1>
</div>

<dl class="dl-horizontal" id="question">
  <dt><strong>Author:</strong></dt>
  <dd><%= @question.user_id %></dd>
  <dt><strong>Question:</strong></dt>
  <dd><%= @question.text %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>

</div>
