<div id="lesson_notes" class="tab-pane" >
  <label class="checkbox-inline pull-right">
    <input type="checkbox" id="public_notes" value="false"> Share Notes w/ Everybody
  </label>
  <h3>Notes: <small><%= @lesson.title %></small></h3>
  
  <hr />
  <form class="form-horizontal">
    <textarea class="form-control xxlarge" id="notes" name="notes" type="text" rows="3"></textarea>    
  </form>
  
  
</div>