!!! 5
%html
  %head
    %title= title
    %meta{ :content => "Features for #{title}", :name => "description" }
    %meta{ :content => "Chip Miller", :name => "author" }
    %meta{ :content => "noindex", :name => "robots" }
    %link{ :href => "assets/feature.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "assets/jquery.navgoco.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "assets/venobox/venobox.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "assets/animate.min.css", :media => "screen", :rel => "stylesheet" }
  %body
    %h2 Web Ministry Features
    #wrapper{style:'display:none;'}
      #features
        = menu_tag_builder(features)
    
      #feature_description
        %pre
            
      %script{ src: "http://code.jquery.com/jquery-1.10.2.min.js" }
      %script{ src: "assets/venobox/venobox.min.js"}
      %script{ src: "assets/jquery.easing-1.3.js"}
      %script{ src: "assets/jquery.cookie.min.js"}
      %script{ src: "assets/jquery.navgoco.min.js"}
      %script{ src: "assets/feature.js"} 