<div id="discussion" class="span8">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_lesson_notes" data-toggle="tab">Notes</a></li>
    <li class="">
      <a href="#tab_lesson_questions"  data-toggle="tab">
        Discussion
        <span class="badge"><%= @discussion_activity_count || 8 %></span>
      </a>
    </li>
  </ul>
  <!-- <form class="form-horizontal pull-right">
    <input type="search" class="form-control" placeholder="Search">
    <button type="submit" class="btn btn-default">Search</button>
  </form> -->
  <div class="tab-content">
    <div id="tab_lesson_notes" class="tab-pane active" >
      <%= render partial: 'notes/notes' %>
    </div>
    <div id="tab_lesson_questions" class="tab-pane" >
      <%= render partial: 'questions/questions' %>
    </div>
  </div>
</div>