- content_for :js_includes do
  = javascript_include_tag "library"


.row
  #library-search
    %form{role:'form'}
      #library-search-inputs
        .input-group-btn
          %button{type:'button', data:{toggle:'dropdown'}}
            Search All
            %span.caret
          %ul.dropdown-menu
            %li 
              %a{:href => "#"} Title
            %li 
              %a{:href => "#"} Church
            %li 
              %a{:href => "#"} Keywords
        %input{type:'text', placeholder:'What do you want to learn?'}
      
#library-media
  - random_grid_layouts(15).each do |col_array|
    .media-row
      - col_array.each do |col_count|
        - study_image = "http://lorempixel.com/#{('a'..'z').to_a[rand(26)]}/400/200/"
        .media-item{:class=>"col-sm-#{col_count}", style:"background-image:url('#{study_image}');" }
          %a{:href => study_url(this_study = Study.first)} 
            .click_to_play
              .call_to_action
            .study-details
              %img{src:'/img/study_poster'}
              .credits
                %h2 Study Title
                .author Frank Frankly
                .chruch Methodist Presbyterian
                .description Lorem ipsum full description maybe loaded via ajax...
                %ol.lessons.hidden-xs
                  %li Lorem ipsum dolor sit amet, maybe loaded via ajax consectetur adipisicing elit.
                  %li Lorem ipsum dolor sit amet, maybe loaded via ajax consectetur adipisicing elit.
                  %li Lorem ipsum dolor sit amet, maybe loaded via ajax consectetur adipisicing elit.
                  %li Lorem ipsum dolor sit amet, maybe loaded via ajax consectetur adipisicing elit.