#discussion-title
  %h2
    Notes:
    %small= @lesson.title
#discussion-tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab_lesson_notes"} Notes
    %li
      %a{"data-toggle" => "tab", :href => "#tab_lesson_questions"}
        Questions
        %span.badge= @discussion_activity_count || 8
  /
    <form class="form-horizontal pull-right">
    <input type="search" class="form-control" placeholder="Search">
    <button type="submit" class="btn btn-default">Search</button>
    </form>
  .tab-content
    #tab_lesson_notes.tab-pane.active
      = render partial: 'notes/notes'
    #tab_lesson_questions.tab-pane
      = render partial: 'questions/questions'
