<div class="page-header">
  <h1>
    <%=t '.title', :default => @study.title %>
  </h1>
</div>

<ul class="thumbnails">
  <% @lessons.each do |lesson| %>
    <li class="span4">
      <article class="thumbnail lesson"> 
        <h3>Lesson: <%= lesson.position %></h3>
        <dl class="dl-horizontal">
          <%= render partial: 'lesson', locals: {lesson:lesson}  %>
        </dl>
      </article>
    </li>
  <% end %>
</ul>


