.page-header
  %h1
    = t '.title', :default => @study.title
%ul.thumbnails
  - @lessons.each do |lesson|
    %li.span4
      %article.thumbnail.lesson
        %h3
          Lesson: #{lesson.position}
        %dl.dl-horizontal
          = render partial: 'lesson', locals: {lesson:lesson}
