@import "animate";
@import "theme/variables";
@import "bootstrap";
//@import "bootstrap/mixins";
@import "theme/bootswatch";
//@import "base";

//nav{
  #main{
    @extend .navbar;
    @extend .navbar-default;
  }
  
  #logo{ 
    @extend .navbar-brand; 
    font-size:30px;
    font-family:"Museo Slab";
    font-weight:lighter;
  }
  
  #main-nav-options{
    @extend .collapse;
    @extend .navbar-collapse;
  }
  
  #nav-links{
    @extend .navbar-right;
    @extend .nav;
    @extend .navbar-nav;
  }
  
  #login-links{
    @extend .btn-group;
    padding-left: 15px;
    
    a{
      @extend .navbar-btn;
      @extend .btn;
      @extend .btn-sm;
    }
  }
//}

#library-search{
  @extend .col-sm-offset-1;
  @extend .col-sm-10;
  
  #library-search-inputs{
    @extend .input-group;
    @extend .input-group-lg;
    margin-top:25px;
    
    input{
      @extend .form-control;
      @extend .input-lg;
      height:50px;
      margin-top:1px;
    }
    
    button{
      @extend .btn;
      @extend .btn-lg;
      @extend .btn-primary;
      @extend .dropdown-toggle;
      height:52px !important;
    }
  }
}


#library-media{
  $library-row-heights: ('250px','175px','215px','190px','300px');
  margin-top:30px;
  
  .media-row{ 
    @extend .row;
    &:nth-of-type(4n+1){ height:unquote(nth($library-row-heights, 1)); }
    &:nth-of-type(4n+2){ height:unquote(nth($library-row-heights, 2)); }
    &:nth-of-type(4n+3){ height:unquote(nth($library-row-heights, 3)); }
    &:nth-of-type(4n+4){ height:unquote(nth($library-row-heights, 4)); }
    &:nth-of-type(5n+1){ height:unquote(nth($library-row-heights, 5)); }
  }
  
  .media-item{
    height:inherit;
    border:1px solid #fff;
    background: transparent no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://lorempixel.com/a/400/200/', sizingMethod='scale');
    // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://lorempixel.com/a/400/200/', sizingMethod='scale')";
    
    a{
      display:block;
      height:100%;
      width:100%;
    }
    
    .study-details{
      display:none;
    
      .lessons{
        @extend .hidden-xs;
      }
    }
  }
  
  @media screen and (max-width: $screen-xs-max){
    
    .media-row{ height:inherit !important; }
    .media-item{
      &:nth-of-type(4n+1){ height:unquote(nth($library-row-heights, 1)); }
      &:nth-of-type(4n+2){ height:unquote(nth($library-row-heights, 2)); }
      &:nth-of-type(4n+3){ height:unquote(nth($library-row-heights, 3)); }
      &:nth-of-type(4n+4){ height:unquote(nth($library-row-heights, 4)); }
      &:nth-of-type(5n+1){ height:unquote(nth($library-row-heights, 5)); }
    }
  }
  
  .drawer{
    @extend .fluid-row;
    display:block;
    opacity:0;
    height:0px;
    
    &>img{ @extend .col-xs-3; }
    .credits{
      @extend .col-xs-9;
    }
  }
}





