@import "animate";
@import "theme/variables";
@import "bootstrap";
//@import "bootstrap/mixins";
@import "theme/bootswatch";
//@import "base";


h1, h2, h3, h4, h5, #logo{
  font-family:$font-family-display;
}

//nav{
  #main-nav{
    @extend .navbar;
    @extend .navbar-default;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    transition: transform .25s ease-in-out;
    
    &.unpinned {
      top: -108px;
      -webkit-transition: .75s;
      -o-transition: .75s;
      -moz-transition: .75s;
      -ms-transition: .75s;
      transition: .75s;
      -webkit-transform: translateY(-108px);
      -o-transform: translateY(-108px);
      -moz-transform: translateY(-108px);
      -ms-transform: translateY(-108px);
      transform: translateY(-108px);
    }

    &.pinned {
      top: 0;
      -webkit-transition: .5s;
      -o-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      transition: .5s;
    }
  }
  
  #logo{ 
    @extend .navbar-brand; 
    font-size:36px;
    font-weight:lighter;
  }
  
  #main-nav-options{
    @extend .collapse;
    @extend .navbar-collapse;
  }
  
  #nav-links{
    @extend .navbar-right;
    @extend .nav;
    @extend .navbar-nav;
  }
  
  #login-links{
    @extend .btn-group;
    padding-left: 15px;
    
    a{
      @extend .navbar-btn;
      @extend .btn;
      @extend .btn-sm;
    }
  }
//}


@import "library";

#study{
  @extend .fluid-row;
  margin-top:20px;
  
  #study-header{
    @extend .col-xs-12;
    margin-top:45px;
    margin-bottom:15px;
  
    @media screen and (max-width: $screen-md-min){
      h1 {
        font-size:28px !important;
      }
    }
  }
  
  #current-study{
    // Has to be in markup O_o
    //@extend .col-xs-9;
  }
  
  #lesson{ }
  
  #all-lessons{
    @extend .col-xs-12;
    margin-top: 15px;
    height: 180px;
    display: none;
    overflow: auto !important;
    
    ol{
      list-style-type: none;
      display: inline-flex;
      padding:0px;
      
      .lessons{
        display: inline-block;
        width: 120px;
        position:relative;
        
        .lesson-number{
          height: inherit;
          width: inherit;
          font-size: 100px;
          bottom: 0;
          top: 0;
          right: 0;
          left: 0;
          position: absolute;
          text-align: center;
          @include opacity(0.5);
        }
      }
    }
  }
  
  .lesson-source a{
    color:$gray-lighter;
  }
  
  #carasel-toggle{
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
    @extend .pull-right;
  }

  .similar_studies{
    @extend .col-md-3;
    @extend .visible-lg;
    
    .thumbnail{
      height:200px;
      
    }
  }
}

#discussion{
  margin-top:35px;
  
  #lesson_notes{
    
  }
}

#similar-studies-sm-screen{
  .similar_studies{
    @extend .hidden-lg;
    
    .thumbnail{
      height:200px;
      
    }
  }
}