<div id="login-btn-group" class="btn-group pull-right">
  <a id="login-button" class="btn btn-small" href="<%= new_user_session_path %>"  >Login</a>
  <a id="join-button"  class="btn btn-small btn-primary" href="<%= new_registrations_path %>">Join</a>
</div>
